body{
    background-color: rgba(0, 0, 0, 0.733);
}

.wrapper{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    position: relative;
    height: 350px;
    background: url('kepek/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    opacity: 100%;
}
.header-1{
    position: relative;
    height: 350px;
    background: url('kepek/gambling-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    opacity: 100%;
}

.header-a2{
    position: relative;
    height: 350px;
    background: url('kepek/alkohol_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    opacity: 100%;
}

.header-3{
    position: relative;
    height: 350px;
    background: url('kepek/society.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    opacity: 100%;
}
.center{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(50px, 8vw, 100px);
    text-shadow: 2px 2px 8px green;
}

.center-1{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(50px, 8vw, 130px);
    text-shadow: 2px 2px 8px black;
}

.center-a2{
    color: rgb(51, 153, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(50px, 8vw, 130px);
    text-shadow: 2px 2px 8px black;
}

.center-3{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(50px, 8vw, 130px);
    text-shadow: 2px 2px 8px black;
}
.menu-wrap{
    width: 100%;
    background-color: darkgreen;
}
.menu-wrap-1{
    width: 100%;
    background-color: #c8352acc;
}

.menu-wrap-a2{
    width: 100%;
    background-color: rgb(51, 153, 255);
}

.menu-wrap-3{
    width: 100%;
    background-color: #2a6ec8cc;
}

.menu-wrap-a2 .nav-link:hover, .menu-wrap .nav-link:hover, .menu-wrap-3 .nav-link:hover{
    background-color:black;
    color: white;
}

.menu-wrap-a2 .nav-link, .menu-wrap .nav-link, .menu-wrap-3 .nav-link{
    color: black;
    font-size: 1.15em;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-wrap-1 .nav-link, .menu-wrap .nav-link, .menu-wrap-3 .nav-link{
    color: black;
    font-size: 1.15em;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-wrap-1 .nav-link:hover, .menu-wrap .nav-link:hover, .menu-wrap-3 .nav-link:hover{
    background-color:black;
    color: white;
}
.menu-wrap-1 .nav-item{
    border-right: 1px solid #c25d55;
    border-left: 1px solid #c25d55;
}

.menu-wrap .nav-item{
    border-left: 1px solid rgb(54, 182, 54);
    border-right: 1px solid rgb(54, 182, 54);
}

.menu-wrap-3 .nav-item{
    border-left: 1px solid rgb(54, 156, 182);
    border-right: 1px solid rgb(54, 156, 182);
}

.menu-wrap-a2 .nav-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.main {
    margin-top: 15px;
    max-width: 75%;
}

.text-1 {
    background-color: #c8352aa2;
    border-radius: 14px;
    padding: 30px;
    font-size: 1.1em;
    color: #ffffff;
    text-align: justify;
    height: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.text-a2 {
    background-color: rgb(51, 153, 255);
    border-radius: 14px;
    padding: 30px;
    font-size: 1.1em;
    color: black;
    text-align: justify;
    height: 100%;
}

.text-0 {
    background-color: rgb(1, 95, 1);
    border-radius: 14px;
    padding: 30px;
    font-size: 1.1em;
    color: black;
    text-align: justify;
    height: 100%;
    /* margin-left: 15px;
    margin-right: 15px; */
}

.text-0 h1, .text-0 h2{
    text-align: center;
}

.text-a2 h1, .text-a2 h2{
    text-align: center;
}

.main .column {
    margin-top: 35px;
}

.main img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

.footer-1, .footer, .footer-a2{
    width: 75%;
    margin-top: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    min-height: 30px;
    margin-bottom: 10px;
}

.footer{
    background-color: rgb(1, 95, 1);
    color: black;
}

.footer-1{
    background-color: #c8352aa2;
    color: #ffffff;
}

.footer-a2{
    background-color: rgb(51, 153, 255);
    color: black;
}

.card{
    margin-left: 6%;
    margin-top: 35px;
    margin-bottom: 10px;
}

.clear{
    clear: both;
}

.card img{
    border-radius: 150px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.video{
    margin: auto;
    padding-bottom: 1px;
}
